// @import "~vue-components-lib/dist/awesome-components-lib.css";

// $default-font: 'Sharp Sans Bold';
// $default-text-color: '#05165B';

// body, html {
// 	color: $default-text-color;
// 	font-family: $default-font;
//     font-size: 19px;
//     background-color: grey;
// }

// h1, h2, h3 {
//     color: $default-text-color;
// }

// h1 {
//     font-size: 2.5rem;
// }