<template>
    <footer class="tw-bg-blue tw-absolute tw-bottom-0 tw-w-full tw-h-52 tw-py-6">
        <div class="tw-grid tw-mx-4 tw-grid-cols-2 md:tw-grid-cols-3 tw-gap-4 lg:tw-w-full tw-max-w-6xl md:tw-mx-auto">
            <div class="tw-text-white" v-for="(item, key) in footerItems" :key="key">
                <h3 class="tw-font-size-lg">{{item.title}}</h3>
                <ul>
                    <li v-for="(link, linkKey) in item.links" :key="linkKey">
                        <a :href="link.link" target="_blank">{{link.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    data() {
        return {
            footerItems: [
                 {
                    title: "Mijn skills",
                    links: [
                        {
                            title: "Javascript",
                        },
                        {
                            title: "Vue / Nuxt",
                        },
                        {
                            title: "Jest / Cypress",
                        },
                        {
                            title: "Storybook",
                        }
                    ]
                },
                {
                    title: "Mijn interesses",
                    links: [
                        {
                            title: "Reizen",
                            link: "https://www.polarsteps.com/aroundtheglobe"
                        },
                        {
                            title: "Spelen",
                            link: "https://www.lego.com/"
                        },
                        {
                            title: "Rennen",
                            link: "https://www.nnmarathonrotterdam.nl/inschrijven/14-marathon-rotterdam/"
                        },
                        {
                            title: "Denken",
                            link: "https://www.escaperoomsnederland.nl/"
                        }
                    ]
                },
                 {
                    title: "Contact",
                    links: [
                        {
                            title: "06 - 47 84 63 53",
                            link: "tel:0647846353"
                        },
                        {
                            title: "marionne_waninge@hotmail.com",
                            link: "mailto:marionne_waninge@hotmail.com"
                        },
                        {
                            title: "LinkedIn",
                            link: "https://www.linkedin.com/in/marionne-waninge-46879a19/"
                        }
                    ]
                }
            ]
        }
    }

}
</script>