<template>
    <div class="tw-bg-white height-header">
        <div class="tw-p-2 lg:tw-w-full tw-max-w-6xl md:tw-mx-auto">
            <div class="tw-grid grid-cols-custom md:tw-grid-cols-1 md:tw-justify-items-center tw-justify-center tw-items-center">
                <div v-if="!mobileMenu" @click="mobileMenu = true" class="md:tw-hidden">
                    <jm-icon icon-name="menu" icon-color="blue"  size="lg" />
                </div>
                <div v-else @click="mobileMenu = false" class="md:tw-hidden">
                     <jm-icon icon-name="close-thin" icon-color="blue"  size="md" />
                </div>
                <nuxt-link class="tw-m-auto" to="/" ><img id="logo" class="tw-w-52" src="img/logo.svg" alt="logo consumentenbond"></nuxt-link> 
            </div>
            <nav class="md:tw-flex tw-px-4 tw-space-x-30 tw-text-lg tw-hidden">
                <div class="tw-m-5 hover:tw-border-b-2 tw-font-semibold" v-for="(item, key) in nav" :key="key">
                    <nuxt-link v-if="item.link" :to="item.link">{{item.title}}</nuxt-link>
                </div>
            </nav>
        </div>

        <div class="mobile-menu tw-bg-blue tw-fixed tw-h-screen tw-w-full tw-z-10" :class="{ 'active' : mobileMenu }">
            <div class="tw-p-5 tw-text-white tw-border-b" v-for="(item, key) in nav" :key="key">
                <span @click="goToPage(item.link)">{{item.title}}</span>
            </div>
        </div>
    </div>

</template>

<script>
import { JmIcon } from 'vue-components-lib';

export default {
    components: { JmIcon }, 
    data() {
        return {
            mobileMenu: false,
            nav: [
                { 
                    "title": "Home",
                    "link": "/"
                },
                { 
                    "title": "Contactenlijst",
                    "link": "/contacts"
                },
                { 
                    "title": "Contact toevoegen",
                    "link": "/new-contact"
                }
            ]
        }
    }, 
    watch: {
        mobileMenu: function () {
            document.body.style.overflow = this.mobileMenu ? 'hidden' : ''
        }
    },
    methods: {
        goToPage(page) {
            this.mobileMenu = false;
            this.$router.push({path: page});
        }
    }
}
</script>

<style lang="scss">
.grid-cols-custom {
    @media(max-width: 767px) {
        grid-template-columns: 25% 50% 25%;
    }
}

.height-header {
    @media(min-width: 767px) {
        height: 150px;
    }
}

.mobile-menu {
    height: 100vh;
    transition: left 0.3s ease;
    left: -100vw;
    top: 82px;

    &.active {
        left: 0;
    }
}


</style>