<template>
    <div class="tw-relative tw-min-h-screen">
        <div class="tw-bg-grey tw-pb-72 md:tw-pb-48">
            <custom-header></custom-header>
            <div class="tw-py-10 lg:tw-w-full tw-max-w-6xl md:tw-mx-auto">
                <nuxt />            
            </div>
            <custom-footer></custom-footer>
        </div>
    </div>
</template>

<script>
import customHeader from "../components/customHeader.vue";
import customFooter from "../components/customFooter.vue";
export default {
    components: {
        customHeader, 
        customFooter
    }
}
</script>

<style lang="scss">

$default-text-color: '#05165B';

body, html {
	font-family: system-ui,"Segoe UI", sans-serif;
    font-size: 14px;
    background-color: #f2f2f0;
}

h1, h2, h3 {
    font-family: 'Sharp Sans Bold';
    color: $default-text-color;
}

h1 {        
    font-size: 2.5rem;
}

h2 {
    font-size: 1.4rem; 

    @media(min-width: 767px) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.3rem;
}

</style>