<template>
    <div class="tw-relative tw-min-h-screen">
        <div class="tw-bg-grey tw-pb-72 md:tw-pb-48">
            <custom-header></custom-header>
            <nuxt />            
            <custom-footer></custom-footer>
        </div>
    </div>
</template>

<script>
import customHeader from "../components/customHeader.vue";
import customFooter from "../components/customFooter.vue";

export default {
    components: {
        customHeader, 
        customFooter
    }

}
</script>