<template>
  <div class="tw-flex tw-flex-col tw-items-start tw-px-2">
      <div class="tw-w-full tw-rounded-lg tw-bg-white tw-px-5 sm:tw-px-24 tw-py- tw-rounded-md tw-shadow-lg tw-space-y-5">
		  	<jm-modal v-if="showModal" @close="closeModal" accent-color="blue">
				<template v-slot:header>Bevestig verwijderen</template>
				<template v-slot:body>
					<p>Weet u zeker dat u contact <strong>{{removeContactObj.name}}</strong> definitief wilt verwijderen? Deze actie kan niet ongedaan gemaakt worden.</p>
					<div class="tw-flex tw-justify-center tw-mt-10">
						<jm-button @btn-clicked="closeModal" btn-class="cancel" class="tw-bg-grey-accent tw-mr-4" btn-rounded="lg" text-color="white">Annuleren</jm-button>
						<jm-button @btn-clicked="removeContact" btn-class="action" class="tw-bg-action" btn-rounded="lg" text-color="white">Verwijder contact</jm-button>
					</div>
				</template>
			</jm-modal>
			<jm-alert class="tw-w-full" :alert-type="alert.type" v-if="alert.show">{{alert.message}}</jm-alert>
  
			<h2>Contactenlijst</h2>

			<jm-textfield id="search" rounded="lg" border-color="grey-accent" label="Zoek op naam, email of telefoonnummer" v-model="filter" />
  
			<div class="tw-overflow-x-auto" v-if="contacts">
				<table class="tw-w-full">
					<thead>
						<tr>
							<th class="tw-text-left" v-for="header in headers" :key="header">{{ header }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(contact, key) in filteredContacts" :key="`contact-${key}`">	
							<td class="tw-p-4">{{contact.type}}</td>
							<td class="tw-p-4">{{contact.name}}</td>
							<td class="tw-p-4">{{contact.email || ''}}</td>
							<td class="tw-p-4">{{contact.phone || ''}}</td>
							<td @click="openModal(contact, key)" class="tw-p-4 tw-text-right tw-cursor-pointer"><jm-icon icon-name="close-variant" icon-color="red" size="xs" /></td>
						</tr>
					</tbody>
				</table>
			</div>
      	</div>
  	</div>
</template>

<script>
import axios from 'axios';
import { JmAlert, JmIcon, JmModal, JmButton, JmTextfield } from 'vue-components-lib';

export default {
	components: { JmAlert, JmIcon, JmModal, JmButton, JmTextfield },
  	data() {
    	return {
			headers: [ "Contact Type", "Naam", "Email", "Telefoonnummer", ""], 
			contacts: [], 
			alert: {
                text: '',
                type: '',
                show: false
            }, 
			showModal: false, 
			removeContactObj: {},
			filter: ""
		}
  	},
	computed: {
		baseApiUrl() {
			const db = this.$fire.database.ref('contacts');
			return db.toString();
		},
		filteredContacts() {
			const searchTerm = this.filter.toLowerCase()
      		return this.contacts.filter(contact => 
			  	contact.name.toLowerCase().includes(searchTerm) || contact.email && contact.email.includes(searchTerm) || contact.phone && contact.phone.includes(searchTerm)
			)
		}
	},
	mounted() {
		this.getContacts();
	}, 
	methods: {
		async getContacts() {
			const { data } = await axios.get(`${this.baseApiUrl}.json`);

			let newArray = [];
            const objectArray = Object.entries(data);

            objectArray.forEach(([key, value]) => {
				if(value) {
	                newArray.push({...value, id: key})
				}
            });

            this.contacts = newArray;
		},
		async removeContact() {
			await axios.delete(`${this.baseApiUrl}/${this.removeContactObj.id}.json`).then(() => {
				this.setAlert("success", "Je contact is verwijderd");
			}).catch(e => {
				this.setAlert("danger", "Er ging iets mis. Probeer het nog een keer.")
				console.log(e);
			}).finally(() => {
				this.closeModal();
				this.getContacts();				
			});
		},
		openModal(contact, key) {
			this.showModal = true;
			this.removeContactObj = contact;
		},
		closeModal() {
			this.showModal = false;
			this.removeContactObj = {};
		},
		setAlert(type, message) {
            this.alert = {
                show: true,
                type: type,
                message: message
            };

            setTimeout(() => {
                this.alert.show = false;
                this.alert.message = "";
            }, 3000);
        }
	}
}
</script>
<style scoped>
tr:nth-child(even){background-color: #f2f2f2}
</style>