<template>
  <div class="md:tw-bg-hero hero tw-bg-no-repeat xl:tw-bg-right tw-bg-center">
      <div class="tw-py-2 md:tw-py-10 md:tw-w-full tw-max-w-6xl md:tw-mx-auto tw-px-2">
        <div class="tw-text-lg md:tw-w-6/12 tw-shadow tw-bg-white tw-rounded-lg tw-p-8">     
            <h1 class="tw-pb-4">Contact App</h1>
            <p>Deze applicatie is gebouwd in opdracht van de consumentenbond. Voeg zelf contacten toe of bekijk het overzicht. Laat je verbazen door de magie van Nuxt, Firebase, TailwindCSS en een vleugje eigen componenten library.</p>
          </div>
      </div>
  </div>
</template>

<script>

export default {
  layout: 'homepage',
  components: {
  }, 
  data() {
    return {}
  }

}
</script>

<style>
.hero {
  height: 350px;
}
</style>