<template>
    <div class="tw-flex tw-flex-col tw-items-start tw-px-2">
        <div class="tw-w-full tw-flex tw-items-center tw-flex-col tw-rounded-lg tw-bg-white tw-px-5 sm:tw-px-24 tw-py-10 tw-rounded-md tw-shadow-lg tw-space-y-5">
            <jm-alert class="tw-w-full" :alert-type="alert.type" v-if="alert.show">{{alert.message}}</jm-alert>
            <h2>Nieuw contact toevoegen</h2>
            <div class="tw-flex tw-gap-4">        
                <jm-radio-button color="action" id="basic" label="Basis" value="basic" v-model="customer.input" />    
                <jm-radio-button color="action" id="advanced" label="Geavanceerd" value="advanced" v-model="customer.input" />    
            </div>
    
            <jm-select id="customer-options" v-model="customer.type" :options="customerOptions" rounded="lg" :border="true" border-color="grey-accent" width="250px"/>
            <jm-textfield id="contact-name" rounded="lg" border-color="grey-accent" label="Naam" v-model="customer.name" width="250px" :invalid="$v.customer.name.$invalid && $v.customer.name.$dirty" error-message="Vul een naam in" />
            
            <div v-if="customer.input === 'advanced'">
                <jm-textfield id="contact-email" rounded="lg" border-color="grey-accent" label="Email" v-model="customer.email" width="250px" :invalid="$v.customer.email.$invalid && $v.customer.email.$dirty" error-message="Vul een geldig emailadres in" />
                <jm-textfield id="contact-phone" rounded="lg" border-color="grey-accent" label="Telefoonnummer" v-model="customer.phone" width="250px" :invalid="$v.customer.phone.$invalid && $v.customer.phone.$dirty" error-message="Vul een geldig telefoonnummer in" />
            </div>

            <jm-button id="add-contact-btn" @btn-clicked="addContact" btn-class="action" icon-name="chevron-right" icon-color="white" class="tw-bg-action" btn-rounded="lg" text-color="white">Voeg contact toe</jm-button>
        </div>
    </div>  
 
</template>

<script>
import { JmRadioButton, JmSelect, JmButton, JmTextfield, JmAlert } from 'vue-components-lib';
import { required, email, numeric, minLength, maxLength, requiredIf } from "vuelidate/lib/validators";
import axios from 'axios';

import vuelidate from "vuelidate";
import Vue from "vue";
Vue.use(vuelidate);


export default {
    components: {
        JmRadioButton, JmSelect,JmButton, JmTextfield, JmAlert
    },
    data() {
        return {
            customerOptions: [
                {
                    value: "private",
                    label: "Privé"
                },
                {
                    value: "company",
                    label: "Zakelijk"
                }
            ],
            customer: {
                input: 'basic',
                type: 'private',
                name: null,
                email: null,
                phone: null
            }, 
            alert: {
                text: '',
                type: '',
                show: false
            }
        }
    },
    watch: {
		'customer.input': function(newValue) {
			if(newValue === 'basic') {
                this.customer.email = null;
                this.customer.phone = null;
            }
		}
	},
    validations() { 
        return {
            customer: {
                type: {
                    required
                },
                name: {
                    required
                },
                email: {
                    required: requiredIf(function(){
                        return this.customer.input === 'advanced';
                    }),
                    email
                }, 
                phone: {
                    required: requiredIf(function(){
                        return this.customer.input === 'advanced';
                    }),
                    numeric,
                    minLength: minLength(10),
                    maxLength: maxLength(14)
                }
            }
        }
	},
    computed: {
		baseApiUrl() {
			const db = this.$fire.database.ref('contacts');
			return `${db.toString()}.json`;
		},
	},
    methods: {
        async addContact() {
            this.$v.$touch();

            if(!this.$v.$invalid) {
                await axios.post(this.baseApiUrl, this.customer)
                    .then(() => {
                        this.resetContact();

                        this.$v.$reset();

                        this.setAlert("success", "Je wijzigingen zijn succesvol opgeslagen.");
                    })
                    .catch(e => {
                        console.log(e);
                        this.setAlert("danger", "Er ging iets mis. Probeer het nog een keer.")
                });
            }
            else {
                this.setAlert("danger", "Niet alle velden zijn correct ingevuld.")
            }
        }, 
        resetContact() {
            this.customer = {
                input: 'basic',
                type: 'private',
                name: '',
                email: '',
                phone: ''
            }
        },
        setAlert(type, message) {
            this.alert = {
                show: true,
                type,
                message
            };

            setTimeout(() => {
                this.alert.show = false;
                this.alert.message = "";
            }, 3000);
        }
    }

}
</script>